body {
  background-color: #eef3f7;
}
   
   .main-container{
     height :500px ;
     width : 1000px ;
    }

  .tablet-container {
    text-align: center;
  }
  .card-box-tablet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .tablet-heading {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 500px) {
    .main-container {
      width: 100%; 
      height :auto ;
    }
    .tablet-heading {
      font-size: 20px;
    }
  }




  
  