
.h1{
    text-align: center;
}
.Card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
body{
    background-color:  #eef3f7 
    ;
}
.img{
    height:200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.hading-1{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;

}
.img-front-screen{
    height: 0%;
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid snow ;
    border-radius: 5px;
    
}
@media screen and (max-width: 450px){
    .hading-1{
        font-size: 15px;
    }
    .Card-container{
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 450px) and (max-width: 800px) {
    .hading-1{
        font-size: 17px;
    }
    .Card-container{
        justify-content: space-between;
    }
}