.body {
    background-color: #eef3f7;
}

.tablet-card {
    width: 400px; 
    height: 400px;
    border-radius: 8px;
    padding: 20px;
    margin: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; 
    align-items: center; 
    transition: box-shadow 0.3s ease;
    vertical-align: top; 
}

.tablet-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tablet-image {
    width: 15px;
    height: 20px;
    object-fit: cover;
    border-radius: 8px;
}


.tablet-details h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0; 
}

.tablet-details p {
    font-size: 14px;
    margin: 5px 0; 
}

.tablet-details h4 {
    font-size: 16px;
    margin: 5px 0; 
}

.order-btn {
    background-color: #fb5f04;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.order-btn:hover {
    background-color: #fb5f04;
    transform: scale(1.05);
}
