.cursor-pointer{
    cursor: pointer;
}
.menu-box{
    height: 80vh;
    overflow-y: scroll;
}
.dash-item{
    transition: 0.5s;
}
.dash-item:hover{
    background-color: #ff7507c2;
}
.add-icon{
    bottom: 80px;
    right: 80px;
    width: 55px;
    cursor: pointer;
    background-color: #fb5f04;
}
