*{
    margin: 0;
    padding: 0;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    background-color:#eef3f7;
  
  }
  .items{
    width: 500px;
    
    
  }
  .para{
    height:20px;
    font-size: 30px;
    padding-left: 50px;
    margin-top: 100px;
  }
  .heading{
    padding-left: 50px;
    margin-top: 30px;
  }
  .para2{
    padding: 20px;
    padding-left:50px ;
    width: 300px;
  }
  .btn{
    background-color: #fb5f04;
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .img{
    width: 500px;
    height: auto;
   margin-top: 80px;
  }
  .head2{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  }
  .Container2{
    height: 500px;
    background-color: white;
  }
  .sub-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    
    
  
  }
  .items2{
    width: 205px;
    height: 300px;
    border:2px solid;
    border-radius: 10px ;
    margin-top: 10px;
  }
  .iphone-img{
    width: 200px;
    
  }
  .iphone-img1{
    width: 190px;
    margin-top: 40px;
    margin-left: 9px;
    
  }
  .iphone-img3{
    width: 180px;
    margin-top: 30px;
    margin-left: 15px;
   
    
  }
  .review{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    
  }
  .head3{
    text-align: center;
    font-size: 25px;

    
    

  }
  .items3{
    width: 250px;
    border: 2px solid;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px blanchedalmond;
    background-color: #fff;
  }
  .review-img{
    width: 100px;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
  }
  .Star-img{
    width: 100px;
    margin-left: 70px;
    margin-bottom: 10px;
  }
  .para5{
    font-size:10px;
    text-align: center;
    font-weight: bold;
  }
  .faq-head{
    text-align: center;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  .details{
    width: 800px;
    display: block;
    margin: 0px auto;
    background-color:transparent;
    border-radius: 10px;
  }
  .block{
    background-color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  .block:hover{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .summary{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid #fff;
  }
  .Faq-section{
    background-color: #eef3f7;
    margin-bottom: 20px;
   
     
     
   }
   

   
  
  
  
   