.h1{
    text-align: center;
}
.Card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px;
}
body{
    background-color:  #eef3f7 
    ;
}
.img{
    height: 90%;
    width: 100%;
    display: block;
    margin: 0 auto;
}