
.delete-icon{
    right: 20px;
    bottom: 10px;
    width: 40px;
    cursor: pointer;
}
.update-icon{
    right: 70px;
    bottom: 10px;
    width: 40px;
    cursor: pointer;
}
.content-wth{
font-size: 10px;
}